
.mfractor/

.vs/

bin/

obj/

*.dll

*.p7s

*.pdb

.DS_Store

# NuGet Packages
*.nupkg
# The packages folder can be ignored because of Package Restore
**/packages/*
# except build/, which is used as an MSBuild target.
!**/packages/build/
# Uncomment if necessary however generally it will be regenerated when needed
#!**/packages/repositories.config

#JetBrains
**/.idea/*


source/TetraPak.Auth.Xamarin.sln.DotSettings.user
